<div class="container" style="margin-top: 70px;">

  <div class="row mb-5 align-items-center ">
    <div class="col-2">
      <% doctor_signed_in? ? path = doctor_patient_path(@patient) : path = dashboard_path %>
      <%= link_to path do %>
        <i class="fas fa-chevron-circle-left fa-2x mt-3 mb-3" style="color: #395579;"></i>
      <% end %>
    </div>
    <div class="col-8 mt-3">
      <h6 class="card-text font-weight-bold text-center mb-2"><%= "Consultation - #{@consultation.calendar_date}" %></h6>
    </div>
  </div>

  <div class="row justify-content-between border-bottom pb-3 mt-5">
    <div class="align-self-end ml-3">
      <h6 class="font-weight-bold">Reports<i class="ml-3 fas fa-notes-medical"></i></h6>
    </div>
    <% if doctor_signed_in? %>
      <div class="justiy-content-end mr-3">
        <%= link_to edit_doctor_consultation_path(@consultation) do %>
          <button class="btn btn-primary" style="background-color: #ff8800; border: none;">Edit consultation <i class="fas fa-edit col-2"></i></button>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="container mt-5 ml-5">
    <div class="row">
      <h6 class="font-weight-bold ">Suggestions</h6>
    </div>
    <div class="row mt-2 mr-5">
      <p class="mb-3 text-justify h-auto"><%=  @consultation.public_report.present? ? "#{@consultation.public_report}" : "No report" %></p>
    </div>
  </div>

  <% if doctor_signed_in? %>
    <div class="container mt-5 ml-5">
      <div class="row">
        <h6 class="font-weight-bold ">Personal notes</h6>
      </div>
      <div class="row mt-2 mr-5">
        <p class="mb-3 text-justify h-auto"><%=  @consultation.private_report.present? ? "#{@consultation.private_report}" : "No notes" %></p>
      </div>
    </div>
  <% end %>

  <div class="row justify-content-between border-bottom pb-3 mt-5">
    <div class="align-self-end ml-3">
      <h6 class="font-weight-bold">Prescription <i class="ml-3 fas fa-capsules"></i></h6>
    </div>
    <% if doctor_signed_in? %>
      <div class="justiy-content-end mr-3">
        <%= link_to new_doctor_consultation_consultation_medication_path(@consultation)	 do %>
          <button class="btn btn-primary" style="background-color: #ff8800; border: none;">Add drug <i class="fas fa-plus-circle col-2"></i></button>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="container mt-5 ml-5">
    <div>
      <% if !@consultation_medications.empty? %>
        <% @consultation_medications.each do |consultation_medication| %>
          <div class="row mt-5 mr-3" >
            <p class="mb-3 text-justify h-auto mr-3" ><%= consultation_medication.quantity %></p>
            <p class="mb-3 text-justify h-auto mr-3" ><%= consultation_medication.medication.name %></p>
            <% if doctor_signed_in? %>
              <div class="row justify-content-center">
                <%= link_to doctor_consultation_medication_path(consultation_medication), method: :delete do %>
                  <i class="fas fa-trash-alt col-6" style="color: red; opacity: 0.7;"></i>
                <% end %>
                <%= link_to edit_doctor_consultation_medication_path(consultation_medication) do %>
                  <i class="fas fa-edit col-6" style="color: #ff8800;"></i>
                <% end %>
              </div>
            <% end %>
          </div>
            <p class="row mb-3 text-justify h-auto" ><%= consultation_medication.description %></p>
        <% end %>
      <% else %>
        <p class="card-text mb-3 p-2 text-left d-inline-block h-auto w-100 border border-2" style="border-radius: 10px; border-color: #395579;">No prescription</p>
      <% end %>
    </div>
  </div>


</div>