<div class="container" style="margin-top: 70px;">

  <div class="row mb-5 align-items-center ">
    <div class="col-2">
      <% doctor_signed_in? ? path = doctor_patients_path : path = root_path %>
      <%= link_to path do %>
        <i class="fas fa-chevron-circle-left fa-2x mt-3 mb-3" style="color: #395579;"></i>
      <% end %>
    </div>
    <div class="col-8 mt-3">
      <h6 class="card-text font-weight-bold text-center mb-2">Dashboard</h6>
    </div>
  </div>


  <% if doctor_signed_in? %>
    <div class="row justify-content-center">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <p class="card-title font-weight-bold text-center mb-4"><%= @patient.full_name %></p>
          <p class="card-text"><i class="fas fa-phone mr-3"></i><%= @patient.phone_number %></p>
          <p class="card-text"><i class="fas fa-notes-medical mr-3"></i><%= @patient.avs_number %></p>
          <p class="card-text"><i class="fas fa-address-card mr-3"></i><%= @patient.full_address %></p>
        </div>
      </div>
    </div>
  <% end %>

  <% if patient_signed_in? && current_patient.draft? %>
    <div class="row justify-content-center mt-5">
      <%= simple_form_for [ @patient ], url: activate_path, class: "col-12" do |f| %>
        <div class="form-group">
          <label for="exampleInputPhone">Phone number</label>
          <%= f.input :phone_number, label: false%>
        </div>
        <div class="form-group">
          <label for="exampleInputAvs">AVS number</label>
          <%= f.input :avs_number, label: false %>
        </div>
        <div class="form-group">
          <label for="exampleInputCiy">City</label>
          <%= f.input :city, label: false %>
        </div>
        <div class="form-group">
          <label for="exampleInputZip">ZIP</label>
          <%= f.input :zip, label: false %>
        </div>
        <div class="form-group">
          <label for="exampleInputStreet">Street</label>
          <%= f.input :street, label: false %>
        </div>
        <%= f.submit "Save", class: "btn btn-primary mt-2 mb-3" %>
      <% end %>
    </div>
  <% else %>

    <div class="row justify-content-between border-bottom pb-3 mt-5">
      <div class="align-self-end ml-3">
        <h6 class="font-weight-bold">Consultations <i class="ml-3 fas fa-calendar-check"></i></h6>
      </div>

      <% if doctor_signed_in? %>
        <div class="justiy-content-end mr-3">
          <%= link_to new_doctor_patient_consultation_path(@patient) do %>
            <button class="btn btn-primary" style="background-color: #ff8800; border: none;">Add consultation <i class="ml-2 fas fa-plus"></i></button>
          <% end %>
        </div>
      <% end %>
    </div>

    <% @upcoming_consultations.each do |upcoming_consultation| %>
        <div class="container mt-3 border-bottom">
          <div class="row align-items-start pb-3">
            <div class="col-2">
              <span class="badge badge-primary badge-pill" style="background-color: red;">soon</span>
            </div>
            <div class="col-8 col-sm-9">
              <p class="font-weight-bold"><%= @next_consultation.present? ? "#{@next_consultation.calendar_date}" : "No consultation scheduled"%></p>
              <p class=""><%= @next_consultation.present? ? "#{@next_consultation.time_date}" : "No consultation scheduled"%></p>
            </div>
          </div>
        </div>
    <% end %>
    <% @past_consultations.each do |past_consultation| %>
      <div class="container mt-3 border-bottom">
        <div class="row align-items-start pb-3">
          <div class="col-8 offset-2 col-sm-9">
            <p class="font-weight-bold"><%= past_consultation.calendar_date %></p>
            <p><%= past_consultation.time_date %></p>
          </div>
          <div class="col-2 col-sm-1">
            <% if doctor_signed_in? %>
              <%= link_to doctor_consultation_path(past_consultation) do %>
                <button class="btn btn-primary"><i class="fas fa-search"></i></button>
              <% end %>
            <% else %>
              <%= link_to consultation_path(past_consultation) do %>
                <button class="btn btn-primary"><i class="fas fa-search"></i></button>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>





  <% end %>

</div>