<div class="container" style="margin-top: 70px;">

  <div class="row mb-5 align-items-start">
    <div class="col-2">
      <% doctor_signed_in? ? path = doctor_patient_path(@patient) : path = dashboard_path %>
      <%= link_to path do %>
        <i class="fas fa-chevron-circle-left fa-2x mt-3 mb-3" style="color: #395579;"></i>
      <% end %>
    </div>
    <div class="col-8 mt-3">
      <h6 class="card-text font-weight-bold text-center mb-2">Video</h6>
    </div>
  </div>

  <div class="row justify-content-center">
    <% if doctor_signed_in? %>
      <% if @videoroom.url.present? %>
        <a href=<%= @videoroom.url %> target="_blank">
          <p class="mt-3 btn btn-primary" style="color: white;">Call<i class="fas fa-phone-volume ml-3" style="color: white;"></i></p>
        </a>
      <% else %>
        <a href="https://apps.google.com/meet/" target="_blank">
          <p class="mt-3 btn btn-primary" style="color: white;">Call<i class="fas fa-phone-volume ml-3" style="color: white;"></i></p>
        </a>
      <% end %>
    <% else %>
      <% if @videoroom.url.present? %>
        <a href=<%= @videoroom.url %> target="_blank">
          <p class="mt-3 btn btn-primary" style="color: white;">Call<i class="fas fa-phone-volume ml-3" style="color: white;"></i></p>
        </a>
      <% else %>
        <p class="mt-3 btn btn-primary" style="color: white;">No call scheduled<i class="fas fa-phone-volume ml-3" style="color: white;"></i></p>
      <% end %>
    <% end %>
  </div>

  <% if doctor_signed_in? && !@videoroom.url.present? %>
    <p class="mt-5 row justify-content-center">Send Google Meet link to your patient</p>
  <% end %>

  <div class="row justify-content-center mt-1">
    <% if doctor_signed_in? && !@videoroom.url.present? %>
      <%= simple_form_for [ @videoroom ], url: doctor_videoroom_path(@videoroom) do |f| %>
        <div class="field">
          <%= f.input :url, as: :text, label: false %>
        </div>
        <div class="actions">
          <%= f.submit "Send", class: "btn btn-primary" %>
        </div>
      <% end %>
    <% end %>
  </div>

  <br>
  <br>
  <br>

</div>